/* Fonts settings */
@font-face {
    font-family: 'ProximaNovaReg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.reg() {
	font-family: 'ProximaNovaReg', sans-serif;
};

.bold() {
	font-family: 'ProximaNovaBold', sans-serif;
}

/* Colors */
@button-color: #feb403;
@text-color: #1a1820;
@icon-color: #70c849;
@light: #fff;
@green: #7bb442;
@dark-green: #358015;

/* Basic settings */

html{
	section{
		padding: 10rem 0;
	}
	h2, h3, h4, h1{
		.bold();
	}
	.section-header{
		text-align: center;
		h2{
			font-size: 3.5rem;
		}
	}
	button:focus{
		outline: none;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		text-decoration: none;
	 color: @text-color;
	}
	a:visited{
		text-decoration: none;
	 color: @text-color;
	}
	font-size: 10px;
	.reg();
	color: @text-color;
	textarea:focus{
		outline: none;
	}
	textarea{
		border: 1px solid #dddddd;
	}
	input{
			margin-bottom: 3rem;
			display: block;
			width: 100%;	
			outline: none;
		}
	.inputs{
			text-align: center;
			input{
				border: 1px solid #dddddd;
				padding: 1.2rem;
			}
		}
		label{
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-color: #fff;
			padding: 0 0.5rem;
			font-size: 1.3rem;
			.reg();
		}
		.slick-slide:focus{
			outline: none;
		}
}

/* Styles */

// Настройка шапки сайта

.main{
 background: #fff url(../img/main-bg.jpg) center center no-repeat;
 background-size: cover;
 padding: 3rem 0	;
	&-title	{
		h1{
		margin-bottom: 4rem;
		font-size: 3.7rem;
		color: @text-color;
		text-transform: uppercase;
		line-height: 1.6;
	}
	p{
		font-size: 2rem;
		line-height: 1.2;
		margin-bottom: 4rem;
	}
	.subtitle{
		display: block;
		.bold();
		font-size: 2.2rem;
		text-transform: uppercase;
	}
	.greentitle{
		margin-bottom: 3rem;
		display: inline-block;
		text-align: center;
		padding: 2rem 4.5rem;
		background-color: @green;
		span{
			font-size: 1.8rem;
			color: @light;
			strong{
				font-size: 3rem;
			}
		}
	}
}
	&-form{
		background-color: #fff;
		margin-top: 3rem;	
		padding: 4rem 4rem ;
		
		p{
			font-size: 1.2rem;
			text-align: center;
			margin-bottom: 0;
		}
		
		button{
			margin-bottom: 1.5rem;
			width: 100%;
			padding: 2rem;
			font-size: 1.6rem;
		}
		h2{
			margin-top: 0;
			margin-bottom: 4rem;
			font-size: 1.8rem;
			text-align: center;
			strong{
				.bold();
				font-size: 2rem;
			}
		}
		
	}
}

.header{
	height: 7rem;
	margin-bottom: 7rem;
}

.wrap{
	display: table;
	width: 100%;
	height: 7rem;	
	text-align: right;
	&-block {
		display: table-cell;
		vertical-align: middle;
	}
}
.mbutton{
	font-size: 1.2rem;
	background-color: @button-color;
	color: @light;
	padding: 1rem 2rem;
	border-radius: 8px;
	text-transform: uppercase;
	border: none;
}
.mbutton:hover{
 background: linear-gradient(#fdc540, #da9b03);
}
.phonelink{
	.bold();
	display: inline-block;
	font-size: 2rem;
	color: @text-color;
	height: 7rem;
	line-height: 7rem;	
}

// Настройка экрана с преимуществами

.advantages{
 &-header{
 	margin-bottom: 8rem;
	}		
}
.advantage{
	&-img{
		margin-bottom: 5rem;
		img{
		margin: 0 auto;
	 }
	} 
	text-align: center;
	h3{
		font-size: 2rem;
	}
	p{
		margin-top: 3rem;
		font-size: 1.5rem;
	}
	&-title{
		margin: 0 auto;
		text-align: center;
		width: 85%;
	}
}
// Экран с ценами

.price{
	&-header{
		margin-bottom: 5.5rem;
		color: @light;
		h2{
			margin-bottom: 3rem;
		}
		p{
			font-size: 1.8rem;
			margin-bottom: 3rem;
		}
	}
 background: url(../img/prices-bg.jpg) center repeat;
	img{
		width: 100%;
		margin-bottom: 1rem;
	}
	&-button{
		margin-top: 2.8rem;
		display: block;
		text-align: right;
		button{
			padding: 1.5rem 3rem;
			font-size: 1.5rem;
		}
	}
	&-content{
		padding: 3rem;
		min-height: 55rem;
		background-color: @light;
		text-align: center;
		h4{
			font-size: 1.9rem;
			margin-bottom: 3rem;
		}
		span{
			font-size: 2rem;
			.bold();
		}
		ul{
			min-height: 12rem;
			padding: 0;
		}
		li{
			margin: 0;
			line-height: 1.7;
			list-style-type: none;
			&:before{
				content: '';
				display: inline-block;
				width: 1rem;
				height: 1rem;
				background: url(../img/list-check.png) center no-repeat;
				background-size: 100%;
				margin-right: 1rem;
			}
		}
	}
}

// Экран с отзывами
.feedbacks{
	padding-top: 7rem;
	background: url('../img/feedbacks/feedbacks-bg.png') center no-repeat;
	background-position: center;
	background-size: cover;
	&-header{
		margin-bottom: 7rem;
		h2{
		 margin: 0;
			padding: 0;
		}
	}
	h2{
			margin: 0;
			padding: 0;
			text-align: center;	
			font-size: 3.6rem;
		}
	&-slider{
		background-color: @light;
		padding: 5rem;
		box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
		p{
			font-size: 1.5rem;
		}
		strong{
			.bold();
		}
	}
	&-form{
		position: relative;	
		text-align: center;	
		h3{
			margin-top: 8rem;	
			margin-bottom: 4rem;	
			.bold();
			font-size: 2.2rem;	
		}
		&-button{
			font-size: 1.6rem;	
			padding: 2rem 3rem;
		}
	}
	&-photo-slider{
		margin-bottom: 3rem;
	}
}
.hand{
 position: absolute;	
 bottom: -10rem;
 transform: translateX(-50%);	
 left: 5%;	
 max-width: 30rem;
}
.feedbacks-arrow{
 border: none;
 background-color: #49bf15;
 color: @light;
 width: 4rem;
 height: 5rem;
 .bold();
 font-size: 2.5rem;
}
.feedbacks-arrow:hover{
	background-color: #42a914;
}
.feedbacks-nextArrow{
 position: absolute;
 right: -4rem;
 top: 50%;
 transform: translateY(-50%);
}
.feedbacks-prewArrow{
 position: absolute;
 left: -4rem;
 top: 50%;
 transform: translateY(-50%);
}
.feedback{
	margin-top: 4rem;
	h4{
		margin-bottom: 2rem;
		font-size: 1.6rem;
	}
	span{
		position: relative;
		display: block;
  border: 2px solid #49bf15;
  padding: 1rem;
	}
	span:before{
		content: '';
		position: absolute;
		top: -2rem;
		left: 6rem;
		width: 2rem;
		height: 2rem;
		background-color: @light;
		border: 2px solid #49bf15;
		border-bottom: none;
		border-top-right-radius: 100px;
	}
}
.media{
	img{
		border-radius: none;
		width: 5rem;
		height: 5rem;
	}
	&-body{
		h4{
			margin-bottom: 3rem;
			padding: 0;
		}
	}
}

// Схема работы

 .scheme{
 	position: relative;
 	padding: 10rem 0;
 	padding-bottom: 0;
 	&-header{	
 		margin-bottom: 7rem;
 		h2{
 			margin-bottom: 3rem;
 		}
 		p{
 			font-size: 1.5rem;
 		}
 	}
 	&-box{
 		min-height: 30rem;
 		h3{
 			font-size: 2rem;
 		}
 		p{
 			font-size: 1.5rem;
 		}
 	}
 	&-hand{
 		position: absolute;
 		right: 0;
   bottom: 0rem;
   img{
   	max-width: 58rem;
   }
 	}
 }
 // Все включено
 .allInclusive{
 	padding: 10rem 0;
 	background-color: #f5f5f5;
 	&-header{
 		h2{
 			font-size: 4rem;	
 			color: @dark-green;
 			margin-bottom: 3rem;	
 		}
 		p{
 			font-size: 1.6rem;	
 			margin-bottom: 5rem;	
 		}
 	}
 	.circle{
 		display: inline-block;
 		width: 100%;
 		height: 100%;
 		background-color: @dark-green;
 		border-radius: 50%;
 		&-border{
 			padding: 0.3rem;
 			display: inline-block;
 			width: 5rem;
 			height: 5rem;
 			border-radius: 50%;
 			border: 2px solid @dark-green;
 			text-align: center;
 			line-height: 4rem;
 			font-size: 1.8rem;
 			.bold();
 			color: @light;
 		}
 	}
 	.media{
 		min-height: 10rem;
 		&-body{
 			h4{
 				font-size: 1.6rem;
 				margin-bottom: 0;
 			}
 			p{
 				font-size: 1.2rem;
 			}
 		}
 	}
 }

 // Мы развеем все опасения
 .problems{
 	position: relative;	
 	padding-top: 7rem;
 	&-header{
 		margin-bottom: 7rem;
 	}
 	ul{
 		padding: 0;
 	}
 	li{
 	 list-style-type: none;
 	 line-height: 	1,7;
 	 font-size: 1.4rem;	
 	}
 	li:before{
 		position: absolute;
 		left: -3rem;	
 		top: 50%;
 		transform: translateY(-50%);
 		content: '';
 		display: inline-block;	
 		width: 2rem;	
 		height: 2rem;	
 	}
 	&-block{
 		min-height: 36rem;	
 		border: 3px solid #e8e8e8;
 		padding: 2rem 4rem;
 		padding-bottom: 2rem;
 		h3{
 			margin-bottom: 3rem;	
 			color: #aaaaaa;
 		}	
 		li{
 			margin-left: 3rem;	
 			position: relative;	
 			margin-bottom: 4rem;	
 		}
 		li:before{
 	  background: url(../img/Problems/problem.png) center no-repeat;
 	  background-size: 100%;	
 	 }
 	}
 	&-solution-block{
 		min-height: 36rem;	
 		border: 3px solid @dark-green;
 		padding: 2rem 4rem;
 		padding-bottom: 2rem;	
 		h3{
 			margin-bottom: 3rem;	
 		}
 		li{
 			margin-bottom: 2rem;	
 			margin-left: 3rem;	
 			position: relative;	
 			line-height: 1.4;	
 		}
 		li:before{
 			background: url(../img/Problems/solution.png) center no-repeat;
 			background-color: 100%;	
 		}
 	}
 	.woman{
 		position: absolute;	
 		left: 50%;	
 		transform: translateX(-50%);
 		bottom: 0;
 		height: 46rem;
 	}
 }


// Всплывающие окна
.advantages-arrow{
	position: absolute;
 z-index: 99;
 width: 3rem;
 height: 3rem; 
 border: none;
 outline: none;
}
.advantages-prevArrow{
	left: 0;
	top: 50%;
	transform: translateY(-50%);
 background: url('../img/PrewArr.png')  center no-repeat;
 background-size: 100%;
 
}
.advantages-nextArrow{
	right: 0;
	top: 50%;
	transform: translateY(-50%);
 background: url('../img/NextArr.png')  center no-repeat;
 background-size: 100%;
}
.window{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	&-form{
		padding: 0;
		margin: 0;
	}
	&-close{
		position: absolute;
		text-align: center;
		top: -1.2rem;
		right: -3rem;
		button{
		 border: none;  
		 background-color: transparent;
		 font-size: 2.5rem;
		 color: @light;
		}
	}
	&-button{
		margin-top: 2rem;
	}
	&-header{
		h4{
			font-size: 1.8rem;
		}
		p{
			font-size: 1.6rem;
		}
		margin-bottom: 2rem;
	}
	&-content{
		padding: 2rem 4rem;
	 background-color: @light;
	 position: fixed;
	 text-align: center;
	 top: 10%;
  left: 50%;	
  transform: translateX(-50%);
	}
 .inputs{
 	textarea{
 		padding: 0.5rem 1rem ;
 	}
 }
}
// Media запросы
@media (max-width: 991px){
	.hand{
		display: none;
	}
	.main{
		&-form{
			margin-bottom: 3rem;
		}
		margin-bottom: 2rem;
	}
	.main-title{
		h1{
			font-size: 3.7rem;
		}
	}
	.wrap{
		text-align: center;
	}
	.phonenumber{

		text-align: center;
	}
	.main{
	 background-position: top right;	
	}
	.main-title{
		text-align: center;
		margin-top: -2rem;
	}
	.advantages{
		margin-bottom: 5rem;
	}
	.advantages-header{
		h2{
			font-size: 3rem;
		}
	}
	.price{
		padding: 5rem 0;
		&-button{
			text-align: center;
			margin-bottom: 3rem;
			margin-right: 0;
		}
		&-content{
			margin-bottom: 2rem;
			ul{
				min-height: auto;
				margin-bottom: 2rem;
			}
		}
	}
	.photorama{
		img{
			width: 100%;
		}
	}
	.feedbacks{
		padding: 5rem 0;
		h2{
			margin-bottom: 3rem;
		}
		&-form{
			h3{
				margin-top: 3rem;
			}
		}
		&-nextArrow{
			right: 0;
		}
		&-prewArrow{
			left: 0;
		}
	}
	.scheme{
		padding-top: 5rem;
		&-box{
			text-align: center;
			min-height: auto;
			margin-bottom: 3rem;
		}
		&-hand{
			display: none;
		}
	}
	.problems{
		&-block{
			min-height: auto;
			margin-bottom: 3rem;
			h3{
				text-align: center;
			}
			li{
				margin-bottom: 2rem;
			}
		}
		&-solution-block{
			min-height: auto;
			h3{
				text-align: center;
			}
			li{
				margin-bottom: 2rem;
			}
		}
	}
	.woman{
		display: none;
	}
}



@media (max-width: 767px){
	.main{
		&-form{
			margin-bottom: 2rem;
		}
		margin-bottom: 2rem;
	}
	.main-title{
		h1{
			font-size: 2.8rem;
		}
	}
	.logo{
		text-align: center;
	}
	.phonenumber{
		margin-top: 1rem;
	}
	.wrap{
		margin-top: -1rem;
		margin-bottom: 2rem;
	}
	.main{
	 background-position: top left;	
	}
	.advantages{
		&-header{
			h2{
				font-size: 2.6rem;
			}
			margin-bottom: 3rem;
		}
	}
	.price{
		&-content{
			min-height: 0;
			ul{
    min-height: 0;
    margin-bottom: 3rem;
			}
		}
		&-button{
			margin-right: 0;
		}
	}
	.fotorama:focus{
		outline: none;
	}
	.feedbacks{
		.fotorama{
			img{
				width: 100%;
			}
		}
	}
}	
	

@media (max-width: 350px){
	.main-title{
		h1{
			font-size: 2.4rem;
		}
	}
	.price{
		&-button{
			margin-right: 0;
			button{
				padding: 1rem 2rem;
			}
		}
	}
}
