 .header span{
 	font-size: 24px;
 	text-transform: none;
 	font-family: tahoma;
 	font-weight: normal;
 	line-height: 100%;
 }
 .header h1{
 	text-transform: uppercase;
 	font-style: 24px;
 	font-family: tahoma;
 	font-weight: bold;
 	line-height: 150%;
 }
 .header{
 	margin-top: 40px;
 	margin-bottom: 30px;
 }
 input{
 	font-style: 18px;
 	font-family: tahoma;
 	margin-bottom: 10px;
 }
 h3{
 	font-style: 20px;
 	font-weight: bold;
 	font-family: tahoma;
 }
 .instr{
 	font-family: tahoma;
 	font-size: 18px;
 	height: 60px;
 	margin-bottom: 40px;
 }
 .form-header{
 	margin-bottom: 40px;
 }
 .form{
 	border: 5px solid #2727d9;
 	padding-left: 20px;
 	padding-right: 20px;
 }
 .sections-header{
 	font-style: 24px;
 	font-family: tahoma;
 	font-weight: bold;
 	text-transform: uppercase;
 	margin-bottom: 60px;
 }
 .advantages{
 	margin-bottom: 60px;
 }
 .advantage{
 	margin-bottom: 15px;
 }
 .advantage p{
 	font-style: 16px;
 	font-family: tahoma;
 	font-weight: bold;
 }
 .advantage img{
 	height: 70px;
 }
 .section-advantages{
 	margin-top: 100px;
 }
 .face {
 	margin-bottom: 15px;
 }
 .face img{
 	height: 200px;
 	width: 100%
 }
 .clients{
 	margin-bottom: 40px;
 }
 .col-xs-12 img{
 }
 h1, h2, h3, p, span{
 	color: #513636;
 }